.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.span{
    font-size: 18px;
    font-weight: 600;
  color: rgb(0, 0, 0);
}

.input{
    height: 30px;
    background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #424242;
  
}

.btn {
  max-width: 130px;
  cursor: pointer;
  background-color: #eba0004b;
  padding: 8px;
  border: none;
  border-radius: 30px;
  margin-top: 14px;
  font-weight: 700;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn:hover {
  color: rgb(0, 43, 83);
  background-color: #eba100;
}
