.con{
    display: flex;
    
}

.btn{

   /* max-width: 130px;  */
    cursor: pointer;
    background-color: #eba0004b;
    color: rgb(98, 98, 99);
    padding: 2px;
    border: none;
    border-radius: 8px; 
    /* margin-top: 14px; */
    font-weight: 700;
    font-size: 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
  margin-left: 62px;

    /* padding: 0 8px;
    display: flex;
    gap: 12px; */ 
}

.btn:hover{
        transition: background-color 0.5s ease, color 0.5s ease;

    color: white;
    background-color: rgba(255, 126, 39, 0.63);
}

.hello{
    font-weight: 700;
    color: rgb(145, 94, 0);
}
